* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

.result {
  color: beige;
}

.bg {
  background-image: url("images/dark_bg_moon.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 540px;
  width: 540px;
}

.front_img,
.back_img {
  width: 135px;
  height: 135px;
}
